/* ChipComponent.css */
.chip-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: violet;
  }
  
  .item:hover {
    background-color: #87a7b3;
  }
  
  .chips {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .chip {
    background-color: #5c6ac4;
    color: #ffffff;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .chip.highlighted {
    background-color: #4299e1;
    color: black;
  }
  
  .remove-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 4px;
  }
  
  /* Additional styling for a colorful and animated background */
  .chip-container {
    background: linear-gradient(45deg, #5c6ac4, #48bb78, #38b2ac);
    padding: 20px;
    border-radius: 12px;
  }
  
 /* ChipComponent.css */
/* ChipComponent.css */
.chip:hover {
    animation: pulse 0.5s ease-in-out;
  }
  
  @keyframes pulse {
    50% {
      transform: scale(1.1);
    }
  }
  
  